
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: #ffffff;
    color: #333;
    padding-top: 110px;
    position: relative;
}

html, body {
    overflow-x: hidden;
}

.navbar {
    height: 0%;
    width: 100%;
    padding: 25px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
}

.logo {
    font-weight: 700;
    font-size: 20px;
    color: #4b4b15;
}

.navbar ul {
    display: flex;
    gap: 40px;
    list-style: none;
}

.navbar ul li a {
    color: #4b4b15;
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
}

.nav{
    display: flex;
    align-items: center;
    gap: 40px;

}

.join-btn {
    /* background: #f4c43d; */
    opacity: 0;
    padding: 10px 25px;
    border: none;
    border-radius: 8px;
    font-weight: 600;
    font-size: 14px;
    cursor: pointer;
}

.hero {
    text-align: center;
    margin-top: 40px;
}

.hero h1 {
    font-size: 32px;
    color: #4b4b15;
}

.hero h1 span {
    color: #8e3428;
}

.hero p {
    margin-top: 10px;
    font-size: 14px;
    color: #666;
}

.cards-container {
    margin: 60px auto;
    width: 90%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    justify-items: center;
}

.card {
    width: 310px;
    height: 230px;
    padding: 35px 25px 25px;
    background: #fff;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.card h3 {
    font-size: 15px;
    font-weight: 600;
    color: #333;
    margin-top: 10px;
    line-height: 1.3;
}

.more-btn {
    background: #f4c43d;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    font-weight: 600;
    font-size: 14px;
    cursor: pointer;
}

.corner {
    width: 45px;
    height: 45px;
    border-radius: 0 12px 0 20px;
    position: absolute;
    top: 0;
    right: 0;
}

.ods2-color { background: #f1bc0e; }
.ods4-color { background: #d02525; }
.ods12-color { background: #bf8b2e; }

.bg-circle {
    position: absolute;
    width: 380px;
    height: 380px;
    border-radius: 50%;
    z-index: -1;
    opacity: 0.35;
}

.ods2-circle {
    background: #f1bc0e;
    right: -180px;
    top: 250px;
}

.ods4-circle {
    background: #d02525;
    left: -180px;
    top: 1000px;
}

.ods12-circle {
    background: #bf8b2e;
    right: -180px;
    top: 1650px;
}

.section-title {
    width: 90%;
    margin: 80px auto 20px;
    font-size: 26px;
    font-weight: 700;
    text-align: left;
    color: #333;
}

.ods2-title { color: #f1bc0e; }
.ods4-title { color: #d02525; }
.ods12-title { color: #bf8b2e; }

.more-btn {
    height: 40  px;
    background-color: #F3C23C;
    color: #000;
    padding: 12px 40px;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
    font-size: 16px;
    transition: 0.2s ease;
    display: inline-block;
}

.more-btn:hover {
    filter: brightness(0.9);
}
